/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Estilo del encabezado */
header {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

/* Sección de plan de nutrición */
#plan-nutricion {
  background-color: #ffffff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#plan-nutricion h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

#plan-nutricion p {
  margin-bottom: 10px;
}

/* Estilo del formulario */
#formulario-seguimineto {
  background-color: #ffffff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#formulario-seguimineto h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-size: 1.1rem;
}

select,
input,
button {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #45a049;
}

/* Sección de seguimiento */
#seguimiento {
  background-color: #ffffff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#seguimiento h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

#lista-seguimiento {
  margin-top: 20px;
  padding: 10px;
  background-color: #e4e4e4;
  border-radius: 6px;
}

/* Estilo de la tabla */
table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #4CAF50;
  color: white;
  font-size: 1.2rem;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

/* Estilo del pie de página */
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

footer p {
  font-size: 1rem;
}



